.header{
    display: flex;
    justify-content: center;
    background-color: $dark;
    .content {
      width: 90%;
      max-width: $max-w;
      display: flex;
      background-color: $dark;
      justify-content: space-between;
      padding: 25px;
      .logo{
        background-color: $dark;
        margin-top: 0.2rem;
      }
      .btns{
        display: flex;
        gap: $xsmall
      }
    }
}

