.horairesform {
    .jour {
        width: 100%;
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        background: #FFF;
        justify-content:space-between;
        border-bottom: $grey-back 1px solid;;
        .periode {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            width: 300px;

        }
        .heures {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 7px;
            
        }
        label{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }
    }
    .react-datepicker-wrapper input {
        width: 50px;
    }
}