.rdvdisp {
    border-radius: 2px;
    padding: 2px;
    background-color: $blackL;
    width: 100%;

    &.aconfirm {
        background-color: $color-alert-dark;

        .nouv {
            color: white;
            display: block;
        }

        .nouv {
            width: 100%;
            text-align: center;
        }
    }

    &.clientvue {
        .clientn {
            display: none;
        }

        .contentr {
            .op {
                opacity: 0;
                display: none;
            }

            .details {
                display: none;
            }

            .presta {
                display: inherit;
            }

            .clientn {
                display: none;
            }
        }
    }

    &.client {
        .clientn {
            display: none;
        }

        .contentr {
            .infos {
                .name {
                    display: none;
                }
            }

            .op {
                opacity: 0;
                display: none;
            }

            .details {
                display: none;
            }

            .presta {
                display: inherit;
            }

            .clientn {
                display: none !important;
            }

            .detailsbtn {
                display: none;
            }
        }
    }

    .nouv {
        display: none;
    }

    .contentr {
        background-color: $blackL;
        display: flex;
        width: 100%;
        padding: 5px 2px 5px 2px;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
        gap: 5px;
        color: $white;

        &.open {
            .op {
                transition: 200ms ease-in-out;
                opacity: inherit;
                display: inherit;
            }

            .detailsbtn {
                svg {
                    transition: 200ms ease-in-out;
                    transform: rotate(180deg);
                }
            }
        }

        .presta {
            display: none;
        }

        .detailsbtn {
            svg {
                transition: 200ms ease-in-out;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .op {
            transition: 200ms ease-in-out;
            opacity: 0;
            display: none;
        }

        .infos {
            display: flex;
            width: 100%;
            border-radius: 2px;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;
            gap: 7px;
            align-self: stretch;
            background-color: $blackT;

            .name {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 7px;
                flex-wrap: wrap;

                .grp {
                    width: fit-content;

                }
            }

            .prestar {
                padding: 7px;
                align-self: stretch;
                background-color: $blackT;
                border-radius: 2px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .justify {
        padding: 5px;

        p {
            display: flex;
            gap: 15px;
            align-items: center;
        }
    }
    .actionplus {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        width: 100%;
        padding: 10px;
    }
}